@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #ffffff;
}

main{
    background-color: #ffffff;
    position: relative;
    width: calc(100% - 60px);
    min-height: 100vh;
    left: 60px;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2.5rem;
}

.logo img {
    width: 25px;
    cursor: pointer;
}

.navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    background-color: #ffffff;
    width: 60px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.674);
}

nav {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
}

nav li,
a {
    margin: 20px;
}

li:hover {
    transform: scale(1.20);
    transition: background-color 0.2s ease, transform 0.2s ease;
}

nav img {
    width: 18px;
}

.logout {
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
    list-style: none;
}

.logout img {
    width: 20px;
}

/* Seção Perfil */

.sectionPerfil {
    background-color: #ffffff;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
    cursor: pointer;
}

.containerPerfil {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-left: 1px solid #313131;
    margin-top: 4rem;
}

.contentImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 1rem;
    background-image: url(../assets/supervisor.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contentName{
    color: #101017;
    margin-right: 2rem;
    font-weight: 600;
}

/*  */

.containerKPI{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff;
    margin-top: 5rem;
    width: 450px;
    height: 300px;
    margin-left: 2rem;
    align-items: center;
    -webkit-box-shadow: 1px 3px 107px -25px rgba(0, 0, 0, 0.489);
    -moz-box-shadow: 1px 3px 107px -25px rgba(0, 0, 0, 0.301);
    box-shadow: 1px 3px 107px -25px rgba(0, 0, 0, 0.218);
}

.containerKPI h1{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #101017;
    font-size: 15px;
    font-weight: 600;
}

.graficoKpi{
    width: 240px;
}

.sectionTelas{
    /* background-color: #1B98E0; */
    width: 100%;
    height: 800px;
}

.primeiroGrupo{
    height: 230px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.containerTela1, .containerTela2, .containerTela3, .containerTela4,
.containerTela5, .containerTela6{
    background-color: #fafafa;
    margin: 27px 15px;
    width: 500px;
    height: 220px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 3px 107px -25px rgba(0, 0, 0, 0.489);
    -moz-box-shadow: 1px 3px 107px -25px rgba(0, 0, 0, 0.301);
    box-shadow: 1px 3px 107px -25px rgba(0, 0, 0, 0.218);
    border: solid 2px #ecebeb;
}

.containerTela7{
    background-color: #ffffff;
    margin: 27px 15px;
    width: 450px;
    height: 220px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 3px 107px -25px rgba(0, 0, 0, 0.489);
    -moz-box-shadow: 1px 3px 107px -25px rgba(0, 0, 0, 0.301);
    box-shadow: 1px 3px 107px -25px rgba(0, 0, 0, 0.218);
    border: solid 2px #ecebeb;
}

.containerTela1, .containerTela2, .containerTela3, .containerTela4,
.containerTela5, .containerTela6, .containerTela7, .containerTela8 h1{
    padding: 20px;
    color: #101017;
    font-size: 10px;
    text-align: center;
}

.containerTela8 h1{
    font-size: 85px;
    color: #596f96;
}

.contentVerticalTelas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentVerticalTelas img{
    margin-top: 10px;
}

.segundoGrupo{
    height: 230px;
    margin: 20px;
    display: flex;
}

.terceiroGrupo{
    height: 230px;
    margin: 20px;
    display: flex;
}

.contentProdutividade{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    gap: 10px;
    margin: 0 20px;
    color: white;
    font-size: 12px;
}

body::-webkit-scrollbar {
    width: 12px;            
  }
  
  body::-webkit-scrollbar-track {
    background: #101017;       
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #1B98E0; 
    border-radius: 20px;     
    border: 3px solid #101017;  
  }